@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our ToDo List Accessibility Website!</h1>
    <p>Thank you for using our website! If you need more help understanding the use of our website, please see the video tutorials!</p>
</div>
