@model ToDoList

@{
    ViewData["Title"] = "Edit " + Model.ToDoListName;
}

<h1>Edit @Model.ToDoListName</h1>

<h4>ToDoList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <input type="hidden" asp-for="ToDoListId" />
            
            <div class="form-group">
                <label asp-for="ToDoListName" class="control-label"></label>
                <input asp-for="ToDoListName" class="form-control" />
                <span asp-validation-for="ToDoListName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToDoListItems" class="control-label"></label>
                <input asp-for="ToDoListItems" class="form-control" />
                <span asp-validation-for="ToDoListItems" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToDoListDescription" class="control-label"></label>
                <input asp-for="ToDoListDescription" class="form-control" />
                <span asp-validation-for="ToDoListDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
