@model AdaptToChanges.Models.ToDoItem

@{
    ViewData["Title"] = "Assign ToDo";
}

<h1>Assign ToDo</h1>

<form method="post">
    <div>
        <label>Task: @Model.Task</label>
    </div>
    <div>
        <label>Assignee: </label>
        <input type="text" name="assignee" required />
    </div>
    <div>
        <button type="submit">Assign</button>
    </div>
</form>